tempo:
  auth_enabled: false

  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 768Mi

  metricsGenerator:
    enabled: false
    remoteWriteUrl: "http://mimir-gateway.observability.svc.cluster.local/api/v1/push"

  extraEnvFrom:
    - secretRef:
        name: minio-credentials

  storage:
    trace:
      backend: s3
      s3:
        endpoint: minio-external.observability.svc.cluster.local:9000
        bucket: tempo
        access_key: ${S3_ACCESS_KEY}
        secret_key: ${S3_SECRET_KEY}
        insecure: true

persistence:
  enabled: true
  storageClassName: local-path
  size: 10Gi
