# Self-signed issuer for local development
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-ci
spec:
  selfSigned: {}
# ---
# apiVersion: cert-manager.io/v1
# kind: ClusterIssuer
# metadata:
#   name: vault-token-ci
# spec:
#   vault:
#     server: https://vault-active.vault.svc:8200
#     path: pki/sign/poddle-uz
#     auth:
#       tokenSecretRef:
#         name: vault-token
#         key: token
---
# Kubernetes auth
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: vault-k8s-ci
spec:
  vault:
    server: https://vault-active.vault.svc:8200
    path: pki/sign/poddle-uz
    # You must inject the Base64 of vault-root-ca-secret -> ca.crt here
    # caBundle: <base64 encoded CA Bundle PEM file>
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZBRENDQXVpZ0F3SUJBZ0lVSFZNbENnNElJWkVBQ0hKbXNFNkhxTnlPVm9Jd0RRWUpLb1pJaHZjTkFRRU4KQlFBd0dERVdNQlFHQTFVRUF4TU5kbUYxYkhRdGNtOXZkQzFqWVRBZUZ3MHlOVEV5TWpreE16TTNNRGRhRncwegpOVEV5TWpjeE16TTNNRGRhTUJneEZqQVVCZ05WQkFNVERYWmhkV3gwTFhKdmIzUXRZMkV3Z2dJaU1BMEdDU3FHClNJYjNEUUVCQVFVQUE0SUNEd0F3Z2dJS0FvSUNBUURVN25Jb2haKzFXRlY0Vm45MVVlMkFiZVhoeG1mQVI5cDEKYlB3QWlFc1pQbkRRcEROS2ZHejRMeDM0VGoxeHJQQTZGaUk3bU1HMis2QVM2cmRUS1l6and1VnAyZWVXYitNNgpudklhbGd3YmVDQ3YzelBUamFIWHlpWkJ2ZDB3UmFFR1VUQk5sRTRQRm0vVmpRTWlObjF2WGNpMnN2cHBqQjVECi9maU5QVDRDR0RkUkpMbGlqR0dmY1F4YWRsWFJlbm1nSWExTXZNTjQzMHNZVGs2OFFXWEFVdnJPZGlMSE1HbUkKcXoyQjhDZXFtanVxRERIcy94LzVWUmZvMXpzbWhKVE02N2dJd1RhdC96OVduaHRyaXRZK2dyTGVkTFBneEFERgpXcm44eXNRRnJhQnVoS3ByeUwvNmFsY09uVm1sdHcydWR1US9OY2V3L1N0NXo0SmoxUkd2QXJHSWFlT1Q3amZ6Ckg0emQwczFvbko0NjRmZ0diRytiMjRSbUFzbkRsK0RsNUF2L0t5QThkNE9pakNPeDR0UnVwajlCdThhZkFuNUoKeWxEK3JMV1pva0J1QjJXcmZ5a1crQkxJcVZ6V0dteGwxRXJpbGxnbEFmVE84cFBQYlU4YitPWWtoa0R3SlZQOAoyWEk5VlorTjZMT21ONjJQNVV3OUZJWWFqM1V5Q1dTUUpMdlZod0NyNWdKQjJDZVJENjNZQlhyUjU2b2VYT2tJClBucTZ2TjdtZFNXUEI2SlRQYXFmOHZOdHp6UDMvZzdPM05PT2ZrNVBiVThXUzR5enZGWUMyVlBZbmdEZE00b3UKaG5MUDNjK2UzY0lpdW9aTEgyQVJWcDVCc3JsL2FHZzRjc0NoWFY1dllPSFNKemNla2dOSktLSjAvR3dmbEhEYQpkSnJwQWpnbnN3SURBUUFCbzBJd1FEQU9CZ05WSFE4QkFmOEVCQU1DQXFRd0R3WURWUjBUQVFIL0JBVXdBd0VCCi96QWRCZ05WSFE0RUZnUVVqY1FiNkZtTG5oSWN0NDFrK2tEbGJPZTdQZFV3RFFZSktvWklodmNOQVFFTkJRQUQKZ2dJQkFFZ0pHQ2kvZHJRVFZiZ3JMa1pBblRNSjlHZVIyazAxc1VWWWY1cHBNYUVTVHY0a3d3L2xXaURIbjNWQQpkaFBmRlJqY2JMak81WHU4U3VzNVc5cHRTOUxFSEwxeVVSMkNRaWc1aXVzRkVkY2kwK1NtQ3grcUVQM0swL1dNCmloMld3eFJ4MkxPK0poOGFPYWc1UFAyTnI0MFd6aXd6SHFDUXlrMC9tM3JScE8rWHc2aWUzUGVKeXYyVXp0N3UKWlFkN1BOdTU5d0VyUEtydHk3N1lSdDMwT1B6d3hXWlQ4VFRNM3VmaG1wbVNwWlJLeU1KeVFyYy9xSVkvaVR5Wgo5Z0UycExra3dOdTlSZU1VcFEzNG12d2ZtQmFNR2hUcmVhU04zeU04VENIMTNvZVBSTXpQSVFPYWpyT1pZTmdOCmJkMnlwSG9ibGtlbjJGN2RwUU93NjJFNVV6enhxQmFVUEV0NkhkTlAyV3hSRUZWRVJ3WlBod21ZZEdydXJmTXAKOVN4eFViMTc3OW5Mc28vbXR5R1NlQXJYNmJ3TFl1VXdoaGVOcC9FVnlUWWZwSFV6T3h2MktkSU5xdCtscGhLSgptT1FjajZPdkZSMjJPRFVDNWZGdnRtQUdReW10MkhYVGlNeW1iWVNCSFJCZFVCbloyV0hockVtdmt5SEVqRU9uCnZOdTNpeHRjUDY0V0JNajBkU1laZ0M4UHNtcFo3aldCVXRCRXUwTnpObmtKL0FZL0tBbS8xOC9DTVBRaXdUY04KeDZKWUpOcytCREg1NElQVHlHR01uMGZ6MXMveE03UE9sSFpwQVptcHd6U3F2Mko0V1JOdmpzWFRkSnc5STBJawpCOFlqaDAvTkl4ZFV5V0dxZFVzM2dHdXlFNHp6Vkl0RkNoL1l2Q0dvenNObTJ5bzQKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
    # caBundleSecretRef:
    #   name: vault-root-ca-secret
    #   key: ca.crt
    auth:
      kubernetes:
        role: cert-manager
        mountPath: /v1/auth/kubernetes
        serviceAccountRef:
          name: cert-manager
---
# Let's Encrypt Staging
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging-ci
spec:
  acme:
    # Staging server for testing (higher rate limits)
    email: atajanovkamronbek2003@gmail.com
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-staging-private-key
    solvers:
      - http01:
          ingress:
            class: traefik
---
# Let's Encrypt Production
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production-ci
spec:
  acme:
    # Production server (strict rate limits)
    email: atajanovkamronbek2003@gmail.com
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-production-private-key
    solvers:
      - http01:
          ingress:
            class: traefik
