# Self-signed issuer for local development
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-ci
spec:
  selfSigned: {}
# ---
# apiVersion: cert-manager.io/v1
# kind: ClusterIssuer
# metadata:
#   name: vault-token-ci
# spec:
#   vault:
#     server: https://vault-active.vault.svc:8200
#     path: pki/sign/poddle-uz
#     auth:
#       tokenSecretRef:
#         name: vault-token
#         key: token
---
# Kubernetes auth
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: vault-k8s-ci
spec:
  vault:
    server: https://vault-active.vault.svc:8200
    path: pki/sign/poddle-uz
    # You must inject the Base64 of vault-root-ca-secret -> ca.crt here
    # caBundle: <base64 encoded CA Bundle PEM file>
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZBRENDQXVpZ0F3SUJBZ0lVY2hic1FidzV0RGNPSC9EUm14TXVxWVNkRUo0d0RRWUpLb1pJaHZjTkFRRU4KQlFBd0dERVdNQlFHQTFVRUF4TU5kbUYxYkhRdGNtOXZkQzFqWVRBZUZ3MHlOakF4TVRVd05EUTVOVGRhRncwegpOakF4TVRNd05EUTVOVGRhTUJneEZqQVVCZ05WQkFNVERYWmhkV3gwTFhKdmIzUXRZMkV3Z2dJaU1BMEdDU3FHClNJYjNEUUVCQVFVQUE0SUNEd0F3Z2dJS0FvSUNBUURnQ1ZzTlc2djFQSWIvQkExYmltZ2NLSnJPSHRyVDZ3R0YKOG50QUNidTRXdWlwQnZPbExRYW44Z3NJam4zTDNjMVQxek1hcFp2cjBDSmRrSlp2Nzhld1VRZUFSOEVtb3NMbQpPYnFLQk5lZzV6ank0aWdxSjJWYXJYaTdCTEZTajFOQWl6MUZDR2VueDBaYU5pcGdTeGZGc1ZPdVdJTTlFYmcxCmMyWDFFWTI4aWlYbWVEdzRWMFBPcU1tVmRaeTdCcDVhK3dUTVdkQlVHTDRpUVJ3bGVadU41VUpaVm5hTHRrSEoKSkpQSk1sekRoOFV0VVpLaG9YWUhUYjJscEwzeUs1eERDMlNja2YyamY4WHFKVm5WU2JNKzRxdlBTNHh3Q3RQKwo2ZzAvL2YvK0wvejJzZEVJTU03SEhLNzlTTzBrdWhuajBlVVZ1YVBpV3pKdGdHdEovQ0h3UEN4TkttUVRoSFRpCjFheGg2T1R5bmt0cDRrMDlLUDRGWVZpVi9ScGE0WEhCN0RDeUE3S25PQ3o1TnpGeGlsQUZkcy92VytFSHhOVUIKYkNZQ0RzR29hNmdNcC9ncjJYRVFQY2lwMmtJeFVvV2tJa2NiVm1kc0srMXM5YjRmYjdhU3JJU0dEZWQyc2dBNAo0dTlrSjZjd1V4OUxOcEt1VDU0QkZFTnFQeHpjTjJxQWUwUGFiNm8xOXhtR1lpK0JyZUFYVU9LbXRyOHM2dFNICnU4a1g0WG9WZHcwRWVMY2VYdmJjZUlQdThmbXF6MkFzWVhya3c3cDV4dURlYVRXcjFWMUppRWQycU43bllkMEkKVWd0YkFJNDVzTkZoQ21tVWNQTXBMeHFibUt4VFpPdlUyTitSNWhabDQ2Qm5aOEJqSEgrUlZVQms3RkIyNGNxaQowU0srRlU0dzB3SURBUUFCbzBJd1FEQU9CZ05WSFE4QkFmOEVCQU1DQXFRd0R3WURWUjBUQVFIL0JBVXdBd0VCCi96QWRCZ05WSFE0RUZnUVUyMkFYY25pNVU3Y2w1OXV3YzBlTkdBdnczc2t3RFFZSktvWklodmNOQVFFTkJRQUQKZ2dJQkFCb1MvMEV0cGhFcVlvOW11bTNRU3REUTg0ME9zY3ErNm9RRFJldGFVc3ZNVnZ3SkoyaGRZM2x2UVFGWQpCNmVzSnNsYlY0Qk1jVGx1WUN3YWN4bHo3TEJwdzRVZXBydGJzVDAwSk9Ec2d2azdSanNSU1M1NEFEbUFBMmRUCjBlMXA1OXhKUUUxcUJ1cmI3YWpVNHlqVGRCcFp2Znp5Tnphc2NramYwV1h4WndiejFmN2V4b0JpcUYvQjFtYi8KL0dlWk5yL2hpUi9mSUxrK3RhcE5FdkEvTitBampRNXhGYXJPbUVhd04xc2Z3elhHemtBd2hhNjN1Qk5wU29FdAprRDFwQnd2R1ROMGJKV2dER3NQS2wwV0N4M2o2S0piZnNMcVZORmpib3Q1VmlHQzQ5eUVNajlGbzJUMzloc1pJCjVPaG1xRTdPOWd6b3NnVTEzR1VrY2dZNVNKOVI0WmI0OTJ3RVJTUXJTMVNna2tqYmE1OGN3KzVXK09NNUE5c2oKUExRZnRwM3Y4cEloNWZQb3NDejFrQmZOS0ZSY29OL1ZlYmVIZEgvVFV1QkFIY0NmamtqVlRYUVo0RW82TEdmcwpIUSthZFMyYkJmcnRFYm5oWVBZVU5vdlNINUgxS0VvSDl5eVhnMnpsaW05bW1zYmMwV1pIV04vK3dyZTVockYrClNacGN1Q0tycDNUazl2MFd1akVwNUZ3dDNFUlZSNlhteDlUTkdxeW9qQnZEKzFvOGVKUjd0L25jVmtLYXp0bjEKcXBJUDNwZWxsQkRhdTF2dnhNK01yVjdwZUZHaWNFQ3ptZml0SUFManAyZWNjUlduNUpGQ1hFRE0zL3NDdWFnaApFVHAyS05RRytyK0trY1FIVXV2cXhIN1hBNkVrVWMxVytPRHo1UUF1ZTFZYkRrUE4KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
    # caBundleSecretRef:
    #   name: vault-root-ca-secret
    #   key: ca.crt
    auth:
      kubernetes:
        role: cert-manager
        mountPath: /v1/auth/kubernetes
        serviceAccountRef:
          name: cert-manager
---
# Let's Encrypt Staging
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging-ci
spec:
  acme:
    # Staging server for testing (higher rate limits)
    email: atajanovkamronbek2003@gmail.com
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-staging-private-key
    solvers:
      - http01:
          ingress:
            class: traefik
---
# Let's Encrypt Production
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production-ci
spec:
  acme:
    # Production server (strict rate limits)
    email: atajanovkamronbek2003@gmail.com
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-production-private-key
    solvers:
      - http01:
          ingress:
            class: traefik
