alloy:
  clustering:
    enabled: true
    name: "alloy-cluster"
    portName: http

  hostAliases:
    - ip: "192.168.31.53"
      hostnames:
        - "loki.poddle.uz"
        - "mimir.poddle.uz"
        - "tempo.poddle.uz"
        -
  controller:
    type: daemonset

  configMap:
    create: false
    name: alloy-config
    key: config.alloy

  mounts:
    varlog: true
    dockercontainers: true

  securityContext:
    privileged: true
    runAsUser: 0
  runAsGroup: 0

  resources:
    limits:
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 256Mi

  serviceMonitor:
    enabled: false

# OTLP ports
extraPorts:
  - name: "otlp-grpc"
    port: 4317
    targetPort: 4317
    protocol: "TCP"
  - name: "otlp-http"
    port: 4318
    targetPort: 4318
    protocol: "TCP"
