deploymentMode: SimpleScalable

minio:
  enabled: false

write:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 1Gi

  persistence:
    enabled: true
    size: 5Gi
    storageClass: localpath

read:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 768Mi

backend:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 1Gi

gateway:
  replicas: 1
  enabled: true

  service:
    port: 80
    type: ClusterIP

  basicAuth:
    enabled: false
    username: null
    password: null

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

lokiCanary:
  enabled: true
  # -- The type of the loki canary k8s rollout. This can be a DaemonSet or Deployment.
  kind: DaemonSet

loki:
  auth_enabled: false

  ui:
    enabled: true

  commonConfig:
    path_prefix: /var/loki
    replication_factor: 1

  schemaConfig:
    configs:
      - from: 2024-01-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  storage:
    type: s3
    bucketNames:
      chunks: loki
      ruler: loki
      admin: loki

    s3:
      endpoint: minio.poddle.uz:9000
      region: us-east-1
      accessKeyId: ${S3_ACCESS_KEY}
      secretAccessKey: ${S3_SECRET_KEY}
      s3ForcePathStyle: true
      insecure: true
