# yaml-language-server: $schema=values.schema.json

deploymentMode: SingleBinary

# write:
#   replicas: 1
#   resources:
#     requests:
#       cpu: 100m
#       memory: 256Mi
#     limits:
#       cpu: 250m
#       memory: 768Mi

#   persistence:
#     enabled: false
#     size: 5Gi
#     storageClass: localpath

# read:
#   replicas: 1
#   resources:
#     requests:
#       cpu: 100m
#       memory: 256Mi
#     limits:
#       cpu: 250m
#       memory: 512Mi

#   persistence:
#     enabled: false
#     size: 5Gi
#     storageClass: localpath

# backend:
#   replicas: 1
#   resources:
#     requests:
#       cpu: 100m
#       memory: 256Mi
#     limits:
#       cpu: 300m
#       memory: 768Mi

#   persistence:
#     enabled: false
#     size: 5Gi
#     storageClass: localpath

lokiCanary:
  enabled: true
  # -- The type of the loki canary k8s rollout. This can be a DaemonSet or Deployment.
  kind: DaemonSet

loki:
  auth_enabled: false
  ui:
    enabled: true
  commonConfig:
    replication_factor: 1
  schemaConfig:
    configs:
      - from: 2024-01-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  extraEnvFrom:
    - secretRef:
        name: minio-credentials
  storage:
    type: s3
    bucketNames:
      chunks: loki
      ruler: loki
      admin: loki
    s3:
      endpoint: 192.168.31.2:9000
      region: us-east-1 # MinIO ignores this, but it's required
      accessKeyId: ${S3_ACCESS_KEY}
      secretAccessKey: ${S3_SECRET_KEY}
      s3ForcePathStyle: true
      insecure: true

# This section configures the Single Binary deployment
singleBinary:
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi
  persistence:
    enabled: true
    size: 10Gi
    storageClass: local-path

gateway:
  enabled: true
