## Various Alloy settings. For backwards compatibility with the grafana-agent
## chart, this field may also be called "agent". Naming this field "agent" is
## deprecated and will be removed in a future release.
alloy:
  liveDebugging:
    enabled: true

  configMap:
    # -- Create a new ConfigMap for the config file.
    create: false
    # -- Name of existing ConfigMap to use. Used when create is false.
    name: alloy-config
    # -- Key in ConfigMap to get config from.
    key: config.alloy

  clustering:
    # -- Deploy Alloy in a cluster to allow for load distribution.
    enabled: false
    # -- Name for the Alloy cluster. Used for differentiating between clusters.
    name: "alloy-agent-cluster"

  # -- Enables sending Grafana Labs anonymous usage stats to help improve Grafana
  # Alloy.
  enableReporting: false

  # Extra environment variables
  extraEnv:
    - name: NODE_NAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName

  mounts:
    # -- Mount /var/log from the host into the container for log collection.
    varlog: true
    # -- Mount /var/lib/docker/containers from the host into the container for log
    # collection.
    dockercontainers: true
    # -- Extra volume mounts to add into the Grafana Alloy container. Does not
    # affect the watch container.
    extra:
      - name: rootfs
        mountPath: /host/root
        readOnly: true
        mountPropagation: HostToContainer
      - name: proc
        mountPath: /host/proc # Mounted at /host/proc in container
        readOnly: true
        mountPropagation: HostToContainer
      - name: sys
        mountPath: /host/sys # Mounted at /host/sys in container
        readOnly: true
        mountPropagation: HostToContainer

  # Security context - need root for log access
  securityContext:
    privileged: false
    runAsUser: 0
    runAsGroup: 0
    runAsNonRoot: false
    capabilities:
      drop:
        - ALL

  # -- Resource requests and limits to apply to the Grafana Alloy container.
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  # -- Set livenessProbe for the Grafana Alloy container.
  livenessProbe:
    httpGet:
      path: /-/healthy
      port: 12345
    initialDelaySeconds: 30
    periodSeconds: 10

  readinessProbe:
    httpGet:
      path: /-/ready
      port: 12345
    initialDelaySeconds: 10
    periodSeconds: 5

rbac:
  # -- Whether to create RBAC resources for Alloy.
  create: false

serviceAccount:
  # -- Whether to create a service account for the Grafana Alloy deployment.
  create: true
  name: "alloy-agent-sa"

controller:
  # -- Type of controller to use for deploying Grafana Alloy in the cluster.
  # Must be one of 'daemonset', 'deployment', or 'statefulset'.
  type: "daemonset"

  volumes:
    # -- Extra volumes to add to the Grafana Alloy pod.
    extra:
      - name: rootfs
        hostPath:
          path: / # Host's /
          type: Directory
      - name: proc
        hostPath:
          path: /proc # Host's /proc
          type: Directory
      - name: sys
        hostPath:
          path: /sys # Host's /sys
          type: Directory
