apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing-api
  namespace: poddle-system
  labels:
    service: billing-api
spec:
  replicas: 1
  selector:
    matchLabels:
      service: billing-api
  template:
    metadata:
      labels:
        service: billing-api
    spec:
      containers:
        - name: billing-api
          image: kamronbekdev/poddle-billing-api:1.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: service-config
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 30
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
