# apiVersion: v1
# kind: Secret
# metadata:
#   name: grafana-auth-secret
#   namespace: monitoring
# type: kubernetes.io/basic-auth
# stringData:
#   username: admin
#   password: "1213"
# ---
# apiVersion: traefik.io/v1alpha1
# kind: Middleware
# metadata:
#   name: grafana-auth-middleware
#   namespace: monitoring
# spec:
#   basicAuth:
#     secret: grafana-auth-secret
# ---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: monitoring
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`grafana.poddle.uz`)
      kind: Rule
      services:
        - name: { ... }
          port: 80
      # middlewares:
      #   - name: grafana-auth-middleware
  tls:
    secretName: wildcard-poddle-uz-tls
