datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Mimir
        type: prometheus
        access: proxy
        orgId: 1
        url: http://mimir-nginx.mimir.svc.cluster.local/prometheus
        isDefault: true
        version: 1
        editable: true
        jsonData:
          alertmanagerUid: "alertmanager"
      - name: Tempo
        type: tempo
        access: proxy
        orgId: 1
        url: http://tempo-query-frontend.tempo.svc.cluster.local:3200
        basicAuth: false
        version: 1
        editable: true
        apiVersion: 1
        uid: tempo
        jsonData:
          serviceMap:
            datasourceUid: "Mimir"
          nodeGraph:
            enabled: true
